@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Projects List */
.projects-list {
  margin-top: 4rem;

  @include m.desktop {
    @include m.grid(2, 2rem);
  }

  @include m.desktop-xl {
    @include m.grid(4, 3rem);
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  background-color: v.$white;
  box-shadow: 0px 10px 15px -3px color.adjust(v.$light-grey, $lightness: -5%);
  border-radius: 1.2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include m.desktop {
    margin-bottom: 0;
  }

  @include m.desktop-xl {
    padding: 3rem;
  }

  &__heading {
    color: v.$primary;
    font-weight: 700;
    margin-bottom: 0;

    &::before {
      content: "";
      display: block;
      width: 0.4rem;
      height: 3.5rem;
      background-color: v.$grey;
      position: absolute;
      left: 0;
    }
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__client {
    margin-top: 0.5rem;

    span {
      color: color.adjust(v.$secondary, $lightness: -20%);
      font-weight: 700;
    }
  }

  &__description {
    margin-top: 2rem;
  }

  &__options {
    display: flex;
    justify-content: center;
    gap: 2rem;

    @include m.tablet {
      justify-content: flex-end;
    }
  }

  &__option {
    svg {
      width: 2rem;
    }

    &--delete {
      color: v.$red;
    }
  }
}
