@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Profile Header */
.profile-header {
  &__card-image {
    background-image: linear-gradient(
        to right,
        color.adjust(v.$primary, $alpha: -0.15) 0%,
        color.adjust(v.$primary, $alpha: -0.15) 100%
      ),
      url(/generic-profile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 1.2rem 1.2rem 0 0;
    height: 25rem;

    @include m.desktop {
      height: 32rem;
    }
  }
}
