/* New Password Change */
.new-password-change {
  .form {
    padding: 0;
    box-shadow: unset;
    margin: 4rem 0 0;
    max-width: unset;

    &__submit {
      width: 100%;
      justify-content: center;
    }
  }
}
