@use "sass:color";
@use "variables" as v;

@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin link {
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  border-radius: 1.2rem;
  display: flex;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

@mixin nav-link($hover-color) {
  @include link;

  color: v.$black;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background-color: color.adjust($hover-color, $lightness: 65%);
  }

  &.active {
    background-color: v.$primary;
    color: v.$white;
  }
}

@mixin button($background-color, $text-color) {
  @include link;

  color: $text-color;
  border: none;

  &:hover {
    background-color: color.adjust($background-color, $lightness: -10%);
  }
}

@mixin grid($columns, $spacing) {
  display: grid;
  gap: $spacing;
  grid-template-columns: repeat($columns, 1fr);
}
