// Fonts
$main-font: "Lato", sans-serif;
$heading-font: "Zilla Slab", serif;
$code-font: "Space Mono", monospace;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1200px;

// General colors
$primary: #0f6130;
$secondary: #e1cf7f;
$black: #000000;
$white: #ffffff;
$grey: #e0e6eb;
$light-grey: #f4f7fb;
$red: #ff6692;

// Tasks status colors
$generic-status: #999999;
$pending: #64748b;
$on-hold: #ef4444;
$in-progress: #3b82f6;
$under-review: #f59e0b;
$completed: #10b981;

// Units
$default-font-size: 1.6rem;
$length: 25rem;
$separation: 2rem;
$tooltip-width: 12rem;
