@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Project Team View */
.project-team-view {
  &__heading {
    @include m.heading-with-border(v.$black, v.$grey);
  }

  &__description {
    @include m.intro-text;
  }

  &__nav {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    overflow-x: auto;

    &-link {
      @include m.button(v.$primary, v.$white, v.$secondary);

      & {
        width: auto;
      }

      &--secondary {
        @include m.button-colors(v.$secondary, v.$black, v.$primary);
      }
    }
  }
}
