@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Add Member Modal */
.add-member-modal {
  @include m.modal;

  &__heading {
    @include m.heading-with-border(v.$black, v.$grey);
  }

  &__text {
    @include m.intro-text;
  }

  .form {
    padding: 0;
    box-shadow: unset;
    margin: 4rem 0 0;
    max-width: unset;
  }

  .basic-message {
    flex-direction: row;
    margin-top: 2rem;

    svg {
      color: v.$red;
      width: 2.4rem;
      height: 2.4rem;
    }

    &__title {
      color: v.$red;
      font-size: 1.6rem;
    }
  }
}
