@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Confirm Account View */
.confirm-account-view {
  &__heading {
    font-family: v.$heading-font;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__text {
    @include m.intro-text;
  }

  .form {
    padding: 0;
    box-shadow: unset;
    margin: 4rem 0 0;
    max-width: unset;

    @include m.phone {
      &__control {
        display: flex;
        gap: 1rem;
      }
    }

    &__input {
      font-family: v.$code-font;
      color: v.$primary;
      font-weight: 700;
      font-size: 1.8rem;
      width: 4rem;
      height: 4rem;
      padding: 1.2rem;
    }

    .spinner {
      justify-content: flex-start;
    }
  }

  &__question {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;

    &-text {
      color: color.adjust(v.$black, $lightness: 50%);
      text-align: center;
    }

    &-link {
      color: v.$primary;
      font-size: 1.4rem;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
