@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Add Note Form */
.add-note-form {
  .form {
    padding: 0;
    box-shadow: unset;
    margin: 0;
    max-width: unset;

    textarea {
      min-height: 10rem;
      width: 85%;

      @include m.phone {
        width: 50%;
      }
    }
  }
}
