@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Note Detail */
.note-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid v.$grey;
  padding: 0.5rem 0;

  &:last-of-type {
    border-bottom: 0;
  }

  &__created-by {
    color: color.adjust(v.$black, $lightness: 50%);
    font-size: 1.4rem;
  }

  &__author,
  &__created-at {
    font-weight: 700;
  }

  &__option {
    @include m.nav-link(v.$primary);

    svg {
      width: 2rem;
    }

    &--delete {
      color: v.$red;
    }

    & {
      border-radius: 0.6rem;
      padding: 0.25rem 0.5rem;
    }
  }

  &__delete-pending {
    .spinner {
      width: auto;

      &__figure {
        width: 2.5rem;
      }
    }
  }
}
