@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Notes Panel */
.notes-panel {
  margin-top: 2rem;

  &__content {
    margin-top: 2rem;
  }

  &__title {
    color: v.$primary;
    font-size: 1.8rem;
    font-weight: 700;
  }
}
