@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Avatar Menu */
.avatar-menu {
  @include m.menu;

  &__content {
    @include m.tablet {
      width: 30rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid v.$grey;
  }

  &__initials {
    flex-basis: 5rem;

    .user-initials {
      &__circle {
        font-size: 2.5rem;
        width: 5rem;
        height: 5rem;
      }
    }
  }

  &__user {
    &-name {
      font-weight: 700;
    }

    &-email {
      color: color.adjust(v.$black, $lightness: 50%);
      font-size: 1.4rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &-link {
      font-size: 1.6rem;
      @include m.nav-link(v.$primary);
    }
  }
}

.app-avatar {
  .user-initials {
    &__circle {
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: color.adjust(v.$primary, $lightness: -10%);
      }
    }
  }

  @include m.tablet {
    width: 3.5rem;
    margin-right: 3rem;
  }
}
