@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Avatar Menu */
.avatar-menu {
  @include m.menu;

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid v.$grey;
  }

  &__image {
    flex-basis: 5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__user {
    &-name {
      font-weight: 700;
    }

    &-email {
      color: color.adjust(v.$black, $lightness: 50%);
      font-size: 1.4rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &-link {
      @include m.nav-link(v.$primary);
    }
  }
}

.app-avatar {
  @include m.tablet {
    width: 3.5rem;
    margin-right: 3rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
