@use "sass:color";
@use "@/styles/abstracts/variables" as v;

/* Basic Message */
.basic-message {
  margin-top: 4rem;

  &__text {
    color: color.adjust(v.$secondary, $lightness: -20%);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
      width: 4rem;
      height: 4rem;
    }
  }
}
