@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Basic Message */
.basic-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 4rem auto 0;

  @include m.phone {
    max-width: 40rem;
  }

  svg {
    color: v.$primary;
    width: 7.5rem;
    height: 7.5rem;
  }

  &__title {
    color: color.adjust(v.$secondary, $lightness: -20%);
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  &__description {
    margin-top: 1rem;
    text-align: center;
  }
}
