@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Spinner */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem;

  &__figure {
    fill: v.$primary;
    width: 3.5rem;
  }

  &__text {
    color: color.adjust(v.$black, $lightness: 40%);
    font-family: v.$main-font;
    font-weight: 700;
    font-size: 1.8rem;
  }
}
