@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Add Task Modal */
.add-task-modal {
  background-color: v.$white;
  border-radius: 1.2rem;
  box-shadow: 0px 10px 15px -3px color.adjust(v.$black, $lightness: 50%);
  font-size: 1.6rem;
  padding: 2rem;
  max-width: 75rem;

  @include m.tablet {
    padding: 3rem;
  }

  &__heading {
    @include m.heading-with-border(v.$black, v.$grey);
  }

  &__text {
    @include m.intro-text;
  }

  .form {
    padding: 0;
    box-shadow: unset;
    margin: 4rem 0 0;
    max-width: unset;
  }
}
