@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Task Details Modal */
.task-details-modal {
  @include m.modal;

  &__heading {
    font-family: v.$heading-font;
    margin-top: 2rem;
  }

  &__created-at,
  &__updated-at {
    color: color.adjust(v.$black, $lightness: 50%);
    font-size: 1.4rem;
  }

  &__description {
    color: color.adjust(v.$black, $lightness: 50%);
    margin-bottom: 2rem;
  }

  &__updated-by {
    margin-bottom: 2rem;
  }

  &__status {
    display: flex;
    flex-direction: column;
  }

  &__updated-by,
  &__status-label {
    font-size: 1.4rem;
  }

  &__status-label {
    margin-bottom: 0.5rem;
  }

  &__datetime-label,
  &__updated-by-label,
  &__status-label {
    font-weight: 700;
  }

  &__status-value {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    .spinner {
      width: auto;

      &__figure {
        width: 2.5rem;
      }
    }
  }

  &__status-select {
    display: block;
    background-color: v.$white;
    border: 1px solid v.$grey;
    border-radius: 0.8rem;
    padding: 1rem 1.6rem;
    font-weight: 400;
    width: 85%;
    outline: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 0.4rem color.adjust(v.$secondary, $lightness: 20%);
      border: 1px solid v.$secondary;
    }

    @include m.phone {
      width: 50%;
    }
  }
}
