@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Tasks List */
.tasks-list {
  margin-top: 4rem;

  &__heading {
    font-family: v.$heading-font;
    font-weight: 700;
  }

  &__content {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    justify-content: space-between;
    padding-bottom: 2rem;

    @include m.desktop-xl {
      overflow: auto;
    }
  }

  &__frame {
    background-color: color.adjust(v.$generic-status, $lightness: 30%);
    border-radius: 1.2rem;
    width: 29rem;
    flex-shrink: 0;
    padding: 1.5rem;
    min-height: 15rem;

    @include m.desktop-xl {
      min-width: 0;
    }
  }
}
