@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Task Details Modal */
.task-details-modal {
  @include m.modal;

  &__heading {
    font-family: v.$heading-font;
    margin-top: 2rem;
  }

  &__created-at,
  &__updated-at {
    color: color.adjust(v.$black, $lightness: 50%);
    font-size: 1.4rem;
  }

  &__description {
    color: color.adjust(v.$black, $lightness: 50%);
    margin-bottom: 2rem;
  }

  &__status-label {
    font-weight: 700;
  }
}
