@use "sass:color";
@use "@/styles/abstracts/variables" as v;
@use "@/styles/abstracts/mixins" as m;

/* Tasks List */
.tasks-list {
  margin-top: 4rem;

  &__heading {
    font-family: v.$heading-font;
    font-weight: 600;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    overflow-x: scroll;
    padding-bottom: 2rem;

    @include m.desktop-xl {
      overflow: auto;
    }
  }

  &__frame {
    background-color: color.adjust(v.$generic-status, $lightness: 30%);
    border-radius: 1.2rem;
    flex-shrink: 0;
    padding: 2rem;
    width: 26rem;

    @include m.tablet {
      width: 29rem;
    }

    @include m.desktop-xl {
      min-width: 0;
    }

    &--pending {
      background-color: color.adjust(v.$pending, $lightness: 45%);
    }

    &--on-hold {
      background-color: color.adjust(v.$on-hold, $lightness: 35%);
    }

    &--in-progress {
      background-color: color.adjust(v.$in-progress, $lightness: 35%);
    }

    &--under-review {
      background-color: color.adjust(v.$under-review, $lightness: 40%);
    }

    &--completed {
      background-color: color.adjust(v.$completed, $lightness: 45%);
    }
  }

  &__status-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
}
